/* Prefix the classes defined here with design-system- */

.design-system-hero
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.design-system-hero-large
    display: flex
    justify-content: center
    align-items: center
    text-align: center

.design-system-background-dark
    & h1, p
        color: white

.design-system-header__service-title em
    font-weight: lighter

.design-system-author_card__header
    flex: 0 0 6rem !important
    width: 6rem !important

.design-system-author-img
    border-radius: 50%
    height: 4.5rem !important
    margin: 1.5rem
    width: 4.5rem
