[tool.poetry]
name = "kaziro"
version = "1.0.6"
description = "Kaziro API Client"
authors = [
    "Kaziro Engineering Team <engineering@kaziro.xyz>",
    "synthpolis <141723589+synthpolis@users.noreply.github.com>",
    "OpenAPI Generator Community <team@openapitools.org>",
]
license = "LICENSE"
readme = "README.md"
repository = "https://github.com/kazirocom/package"
keywords = ["OpenAPI", "OpenAPI-Generator", "FastAPI", "Kaziro"]
include = ["kaziro/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
urllib3 = ">= 1.25.3 < 3.0.0"
python-dateutil = ">= 2.8.2"
pydantic = ">= 2"
typing-extensions = ">= 4.7.1"
websocket-client = "^1.2.1"
requests = "^2.25.1"

[tool.poetry.dev-dependencies]
pytest = ">= 7.2.1"
pytest-cov = ">= 2.8.1"
tox = ">= 3.9.0"
flake8 = ">= 4.0.0"
types-python-dateutil = ">= 2.8.19.14"
mypy = ">= 1.5"

[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pylint.'MESSAGES CONTROL']
extension-pkg-whitelist = "pydantic"

[tool.mypy]
files = [
  "kaziro",
  "tests",
]
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true
strict_equality = true
strict_concatenate = true
check_untyped_defs = true
disallow_subclassing_any = true
disallow_untyped_decorators = true
disallow_any_generics = true

# Uncomment these for stricter type checking
# disallow_untyped_calls = true
# disallow_incomplete_defs = true
# disallow_untyped_defs = true
# no_implicit_reexport = true
# warn_return_any = true

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88

[tool.black]
line-length = 88
target-version = ['py38']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''