/* Prefix the classes defined here with design-system- */
.design-system-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.design-system-hero h1,
.design-system-hero h2,
.design-system-hero h3,
.design-system-hero p  {
  color: white;
}

.design-system-hero a.design-system-btn--secondary {
  /* color: var(--design-system-primary-850-200); */
  border-color: var(--design-system-primary-sun-625);
  background-color: white;
  color: black;
}

.design-system-hero a.design-system-btn--secondary:hover {
  color: unset;
  border-color: unset;
}

header.design-system-header {
  justify-content: space-between;
}

.design-system-hero-large {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.design-system-background-dark h1,
.design-system-background-dark p {
  color: white;
}

.design-system-header__service-title em {
  font-weight: lighter;
}

.design-system-author_card__header {
  flex: 0 0 6rem !important;
  width: 6rem !important;
}

.design-system-author-img {
  border-radius: 50%;
  height: 4.5rem !important;
  margin: 1.5rem;
  width: 4.5rem;
}



body {
  font-family: 'fengardoneue', 'Charter', 'Bitstream Charter', 'Sitka Text', 'Cambria', 'serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'lack', 'system-ui', 'sans-serif';
  font-weight: unset;
}

.design-system-logo:after {
  background-image: unset;
}

.design-system-logo:before {
  background-image: unset;
}

div.design-system-footer__brand {
  column-gap: 1rem;
}

ul.design-system-nav__list {
  padding-left: 1rem;
  padding-right: 1rem;
}

.design-system-nav__list  > * > .design-system-nav__link {
  align-content: center;
}

.sites-faciles-artwork-major {
  fill: var(--text-default-info);
}

.sites-faciles-artwork-minor {
  fill: var(--text-default-success);
}

.sites-faciles-artwork-decorative {
  fill: var(--text-default-grey);
}
/* 
--background-action-high-design-system-primary-hover
--background-action-high-design-system-primary-active
--background-action-high-design-system-primary */

/* For Astro Homepage */

main.lesgrandsvoisins-home h1.title p,
main.lesgrandsvoisins-home h2,
main.lesgrandsvoisins-home h3
{
  color: rgb(var(--color-light) / var(--tw-text-opacity));
}

main.lesgrandsvoisins-home h2,
main.lesgrandsvoisins-home h3,
main.lesgrandsvoisins-home h1.title p {
  font-size: revert;
  line-height: revert;
}
@media (min-width: 62em) {
  header.lesgrandsvoisins-home div.design-system-header__body{
    display: none;
  }
}

@media (max-width: 62em) {
  header.lesgrandsvoisins-home button.design-system-btn--search {
    display: none;
  }
}

/* header.lesgrandsvoisins-home button.design-system-btn--display {
  display: none;
} */



/* header.lesgrandsvoisins-home div.design-system-header__tools {
  display: none;
} */


/* div.lesgrandsvoisins-home-hero {
  --color-primary: 0 146 11;
  --color-secondary: 24 150 255;
  will-change: transform;
  backface-visibility: hidden;
  background-image: radial-gradient(50vMax at -10vw -20vw, rgb(var(--color-secondary) / 1), rgb(var(--color-secondary) / 80%) 40%, rgb(var(--color-secondary) / 0%)), radial-gradient(60vMax at 100vw 100vh, rgb(var(--color-primary) / 1), rgb(var(--color-primary) / 80%) 40%, rgb(var(--color-primary) / 0%));
  inset: 0;
  position: absolute;
  pointer-events: none;
} */

.design-system-header .design-system-header__menu .design-system-container {
  column-gap: 1rem;
  height: auto;
}

.design-system-header__service {
  display: none;
}

body {
  color: var(--text-title-grey);
}

#design-system-menu-close-btn {
  height: fit-content;
}