[man]
# Select language
#   auto    decided by environment variable LANG
#   zh      Simplified Chinese
#   en      English
lang = auto

# If this url return HTTP 404, then this package is out of date
checkurl = https://github.com/dashingsoft/pyarmor/blob/master/man/dev.02

# Pyarmor latest online doc
docurl = https://pyarmor.readthedocs.io/{lang}/latest/

############################################################
#
# Log settings
#
############################################################
[loggers]
keys = root,man

[handlers]
keys = console,man

[formatters]
keys = console,man

[logger_root]
level = INFO
handlers = console

[logger_man]
level = DEBUG
handlers = man
qualname = pyarmor.man

[handler_console]
class = StreamHandler
level = INFO
formatter = console
args = (sys.stdout,)

[handler_man]
class = FileHandler
level = DEBUG
formatter = man
args = ("pyarmor.man.log",)
kwargs = {"mode": "w", "encoding": "utf-8"}

[formatter_console]
format = %(message)s

[formatter_man]
format = %(asctime)s %(levelname)-8s %(message)s
